.employee {
  display: flex;
  .left, .right {
    width: 50%;
  }
  .right{
    ul{
      list-style: none;
      li{
        padding: 5px;
        a{
          text-decoration: none;
        }
      }
    }
  }
  .control{
    width: 100%;
    display: block;
  }
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin: 5px;
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

div.detail {
  color: lightslategray;
  span {
    color: rgba(61, 63, 63, 0.541);  
  }
}
.from form br{
  line-height: 1px !important;
} 