<div class="clr"></div>
<div class="table">
  <button type="button" (click)="openDialog=true">Add Employee</button>
  <table>
    <caption>Employees List</caption>
    <thead>
      <tr>
        <th>Sr.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Salary</th>
        <th>Rating</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList.employees; index as i">
        <td>{{i + 1}}</td>
        <td>
          <a routerLink="/employees/{{employee.id}}">
            {{employee.name}}
          </a>
        </td>
        <td>{{employee.email}}</td>
        <td>{{employee.mobile}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.rating}}</td>
        <td>{{employee.role}}</td>
        <td>
          <a href="javascript:void(0)" (click)="editEmployee(employee)">Edit</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" *ngIf="employeeList.pagination">
          <app-pagination (pageChanged)="onPageChange($event)" [pagination]="employeeList.pagination"></app-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<org-create-employee
  [openDialog]="openDialog"
  [employeeId]="selectedEmployeeId"
  (employeeCreated)="onEmployeeCreated($event)"
  (employeeUpdated)="onEmployeeUpdated($event)"
  (dialogClosed)="onDialogClosed($event)"
></org-create-employee>
