.table{
  padding: 10px;
}
table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #000000;
  border-top: none;
  caption {
    padding: 10px;
    background-color: #444444;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #000000;
  }
  thead {
    background-color: #444;
    padding: 10px;
    text-align: left;
    tr {
      th {
        padding: 10px;
      }
    }
  }
  tbody{
    background-color: #999;
    padding: 10px;
    tr:nth-child(even) {
      background-color: #e6e7e8;
    }
    tr {
      td {
        padding: 10px;
      }
    }
  }
}