/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  padding: 5px 20px;
}

br{
  line-height: 1;
}

button {
  background-color: #eee;
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}

button + button {
  margin: 10px;
}

.clr{
  margin-top: 50px; 
}