/* You can add global styles to this file, and also import other style files */

*, *::before, *::after{
  box-sizing: border-box;
}

button {
  background-color: #eee;
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}